## Geocode

In [77]:
import pandas as pd
import csv
 
pd.options.display.max_colwidth = 1000   
pd.set_option('float_format', '{:f}'.format)

In [2]:
df_rental = pd.read_csv('../data/SRPP with Closing Dates.csv')

In [3]:
df_bnb = pd.read_csv('../data/Short-Term_Rental_Permit_Applications.csv')

In [4]:
df_blight = pd.read_csv('../data/Code_Enforcement_All_Violations.csv')

In [5]:
len(df_rental) # 4489

4489

In [6]:
len(df_bnb) #25966

25966

In [7]:
len(df_blight) #205672

205672

### Filter to only those in New Orleans and save

In [8]:
df_rental.head()

,Loan Number,Borrower Name,Property Address,Property City,Property\nState,Property\nZip,Maximum Rental Loan Amount,Total Units,Closing Date
0,SR000027,CLARENCE PHOENIX,"1735, 1737 PIETY STREET",New Orleans,LA,70117,"138,000.00",2,9/23/2010
1,SR000042,CLARENCE PHOENIX,7591 LACOMBE STREET,New Orleans,LA,70127,"45,000.00",1,9/28/2010
2,SR000046,DILTON ROBINSON,1021 Egania St,New Orleans,LA,70117,"141,000.00",2,9/29/2010
3,SR000063,Kimberly McGinnis,"8610,8612 Bill Street",New Orleans,LA,70128,"61,500.00",2,8/8/2008
4,SR000068,Firldeal Davis,2911-2913 Castiglione St,New Orleans,LA,70119,"300,000.00",4,6/10/2011

In [9]:
df_rental['Property City'] = df_rental['Property City'].str.strip()

In [10]:
df_rental['Property City'].value_counts()

New Orleans      3403
Chalmette         225
Violet            164
Lake Charles      132
Slidell            96
Metairie           60
Marrero            59
Kenner             51
Gretna             48
Arabi              45
Harvey             37
Bogalusa           23
Meraux             20
Westwego           13
Saint Bernard       9
Jefferson           9
Sulphur             8
Mandeville          8
Westlake            7
Crowley             7
Covington           5
Lacombe             5
Delcambre           5
Avondale            4
Cameron             3
Bridge city         3
Lafitte             2
Abita Springs       2
Hammond             2
Terrytown           2
Houma               2
Buras               2
Erath               2
Boothville          2
Harahan             2
Ponchatoula         2
Dequincy            2
Marerro             1
Belle Chasse        1
Independence        1
Belle Chase         1
Jeanerette          1
Bell Chasse         1
Iowa                1
Dulac               1
Tickfaw             1
Braithwaite         1
Grand Isle          1
Gray                1
Abbeville           1
Vinton              1
River Ridge         1
Theriot             1
Madisonville        1
New Iberia          1
Name: Property City, dtype: int64

In [11]:
df_nola = df_rental[df_rental['Property City']=="New Orleans"]

In [12]:
len(df_nola)

3403

In [13]:
df_nola.to_csv('../data/SRPP - New Orleans.csv')

## Test formats

In [14]:
## How many are in format /d+ /w+ /w+ ?
len(df_nola[df_nola['Property Address'].str.match("\d+ \w+ \w+")]) / len(df_nola)

0.11695562738759918

In [15]:
## How many are in format /d+ /w+ /w+ ?
len(df_blight[df_blight['Location'].str.match("\d+ \w+ \w+")]) / len(df_blight)

0.7916828737018164

In [16]:
df_bnb.Address.fillna("",inplace=True)

In [17]:
## How many are in format /d+ /w+ /w+ ?
len(df_bnb[df_bnb['Address'].str.match("\d+ \w+ \w+")]) / len(df_bnb)

0.9687283370561504

In [18]:
df_bnb.Address

0
1             1404 St Bernard Ave
2                   4822 Royal ST
3                  7510 Zimple St
4                 2724 Bell ST #3
                   ...
25961            8405 Sycamore St
25962             2041 Seventh St
25963    339 Carondelet St Apt 3C
25964                1029 Jena St
25965               747 Fourth St
Name: Address, Length: 25966, dtype: object

In [19]:
df_bnb.Address.str.split().str[2]

0            NaN
1        Bernard
2             ST
3             St
4             ST
          ...
25961         St
25962         St
25963         St
25964         St
25965         St
Name: Address, Length: 25966, dtype: object

## Let's Geocode

In [21]:
import googlemaps
from datetime import datetime

In [20]:
API_KEY = "AIzaSyAR78oOMZVN0qFvQ3JfH4NrHS2_XtFXejw"

In [22]:
gmaps = googlemaps.Client(key=API_KEY)

In [65]:
len(df_nola['Loan Number'].unique()) # loan numbers are unique

3403

In [66]:
len(df_nola)

3403

In [79]:
with open('../data/geocoded/rental_repairs_nola_geocoded.csv', 'w') as f:
    writer = csv.DictWriter(f, fieldnames=["input_address","loan_number","num_results","formatted_address",
                                          "lat","long","location_type","google_place_id","type",
                                          "postal_code","street_name","street_number","neighborhood"])
    writer.writeheader() 

    i = 0
    for loan, addy in df_nola[['Loan Number','Property Address']].values:
        i+=1
        print(i, addy)
        geocode_results = gmaps.geocode(addy)
        d = {}
        # things to join back to db
        d['input_address'] = addy
        d['loan_number'] = loan
        d['num_results'] = len(geocode_results)
        
        for r in geocode_results:

            # things we want to save
            d['formatted_address'] = r["formatted_address"]
            d['lat'] = r['geometry']['location']['lat']
            d['long'] = r['geometry']['location']['lng']
            d['location_type'] = r['geometry']['location_type']
            d['google_place_id'] = r['place_id']
            d['type'] = r['types']  

            for x  in r['address_components']:
                if x['types'] ==  ['postal_code']:
                    d['postal_code'] = x['long_name']
                if x['types'] == ['route']:
                    d['street_name'] = x['long_name']
                if x['types'] == ['street_number']:
                    d['street_number'] = x['long_name']
                if x['types'] == ['neighborhood', 'political']:
                    d['neighborhood'] = x['long_name']

            writer.writerow(d)

1 1735, 1737 PIETY  STREET

TypeError: list indices must be integers or slices, not str

In [55]:
d = {}

In [58]:
d

{'formatted_address': '1735 Piety St, New Orleans, LA 70117, USA',
 'lat': 29.9739698,
 'long': -90.0393931,
 'accuracy': 'ROOFTOP',
 'google_place_id': 'ChIJ8fB-giqmIIYRbUbJP5tQGuM',
 'type': ['street_address'],
 'num_results': 6,
 'street_number': '1735',
 'street_name': 'Piety Street',
 'neighborhood': 'St. Claude',
 'postal_code': '70117'}

In [ ]:
    "formatted_address" : answer.get('formatted_address'),
            "latitude": answer.get('geometry').get('location').get('lat'),
            "longitude": answer.get('geometry').get('location').get('lng'),
            "accuracy": answer.get('geometry').get('location_type'),
            "google_place_id": answer.get("place_id"),
            "type": ",".join(answer.get('types')),
            "postcode": ",".join([x['long_name'] for x in answer.get('address_components') 
                                  if 'postal_code' in x.g

In [45]:
r['geometry']

{'location': {'lat': 29.9739698, 'lng': -90.0393931},
 'location_type': 'ROOFTOP',
 'viewport': {'northeast': {'lat': 29.97532938029149,
   'lng': -90.03808991970848},
  'southwest': {'lat': 29.9726314197085, 'lng': -90.0407878802915}}}

In [54]:
r

{'address_components': [{'long_name': '1735',
   'short_name': '1735',
   'types': ['street_number']},
  {'long_name': 'Piety Street', 'short_name': 'Piety St', 'types': ['route']},
  {'long_name': 'St. Claude',
   'short_name': 'St. Claude',
   'types': ['neighborhood', 'political']},
  {'long_name': 'New Orleans',
   'short_name': 'New Orleans',
   'types': ['locality', 'political']},
  {'long_name': 'Orleans Parish',
   'short_name': 'Orleans Parish',
   'types': ['administrative_area_level_2', 'political']},
  {'long_name': 'Louisiana',
   'short_name': 'LA',
   'types': ['administrative_area_level_1', 'political']},
  {'long_name': 'United States',
   'short_name': 'US',
   'types': ['country', 'political']},
  {'long_name': '70117', 'short_name': '70117', 'types': ['postal_code']},
  {'long_name': '6041',
   'short_name': '6041',
   'types': ['postal_code_suffix']}],
 'formatted_address': '1735 Piety St, New Orleans, LA 70117, USA',
 'geometry': {'location': {'lat': 29.9739698, 'lng': -90.0393931},
  'location_type': 'ROOFTOP',
  'viewport': {'northeast': {'lat': 29.97532938029149,
    'lng': -90.03808991970848},
   'southwest': {'lat': 29.9726314197085, 'lng': -90.0407878802915}}},
 'place_id': 'ChIJ8fB-giqmIIYRbUbJP5tQGuM',
 'plus_code': {'compound_code': 'XXF6+H6 New Orleans, LA',
  'global_code': '76XFXXF6+H6'},
 'types': ['street_address']}

In [ ]:
len(geocode_result)

In [ ]:
for a in geocode_result:
    print(a['formatted_address'])

In [ ]:
df_blight[df_blight['Location'].str.contains("1737 Piety", case=False)]

In [ ]:
df_rental['Property City'].value_counts()